<ur style="color: green">
<p><%= flash[:notice] %></p>
</ur>

<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3">
     <%= render 'users/user_show', user:@user %>
     <%= render 'books/book_new', book:@book %>
    </div>
    <div class = "col-md-8 offset-md-1">
     <h2>Books</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
        <th>Title</th>
        <th>Opinion</th>
        <th col span="3"></th>
        </tr>
       </thead>

       <tbody>
         <% @books.each do |book| %>
          <tr>
          <td><%= link_to attachment_image_tag @user, :profile_image, size: "60x60", fallback: "no_image.png" %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
          <% end %>
          </tr>
       </tbody>
      </table>
    </div>
  </div>
</div>